<%- include('../layouts/header.ejs') -%>


<%
 if(typeof message !== 'undefined'){
    %>
    <h3><%- message -%></h3>
    <%
 }

%>





<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-title"><h2> Password Reset</h2></div>
                <div class="card-body">
                    <form method="post">
                       <p>
                        <input 
                        type="text"
                        name="password"
                        placeholder="enter password" 
                        class="form-control">
                       </p>
                       <p>
                        <input 
                        type="hidden"
                        name="user_id"
                        value="<%- user_id -%>" 
                        class="form-control">
                       </p>
                       <p>
                        <input class=" btn btn-outline-dark" type="submit" value="reset">
                       </p>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>




<%- include('../layouts/footer.ejs') -%>