<%- include('layouts/header.ejs') -%>



<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-title"> <h1>Forget Password</h1></div>
                <div class="card-body">
                    
<form action="" method="post">
    <p><input class="form-control" type="password" name="password" placeholder="Enter password"></p>
     <p> <input class="form-control" type="hidden" name="user_id" value="<%= user_id %>"></p>
    
     <div class="card-footer">
        <input class="btn btn-outline-success" type="submit" value="reset password">
    </div>
</form>
                </div>

                
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>



<%- include('layouts/footer.ejs') -%>