<%- include('layouts/header.ejs') -%>


   
 <div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-title"><h1>User Registration Form </h1></div>
        <div class="card-body"> <form action="/register" method="post"  enctype="multipart/form-data">


          <p><input class="form-control" type="text" name="name" placeholder="Enter name"> </p>
          <p><input class="form-control" type="email" name="email" placeholder="Enter email"> </p>
          <p><input class="form-control" type="number" name="mobile" placeholder="Enter mobile"> </p>
          <p><input class="form-control" type="file" name="image" > </p>
          <p><input class="form-control" type="password" name="password" placeholder="Enter password"> </p>
      
          
      
          <div class="card-footer">
            <input type="submit" value="Register" class=" btn btn-outline-success">
          </div>
        </form></div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
 </div>

 


  <% 
  
     if(typeof message !== 'undefined'){
           %>
           <p style="color: green;">
           <%- message -%>
          </p>
           <%
     } 

  %>

<%- include('layouts/footer.ejs') -%>